<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Electron</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
</head>

<body>

    <div class="container p-4">
        <div class="row" id="products"></div>
    </div>

    <script>
        const {
            ipcRenderer
        } = require('electron');
        const products = document.querySelector('#products');

        ipcRenderer.on('product:new', (e, newProduct) => {
            console.log(newProduct);
            const newProductTemplate = `
            <div class="col-xs-4 p-2">
                <div class="card text-center"> 
                    <div class="card-header"> 
                        <h5 class="card-title"> ${newProduct.name} </h5>
                    </div>
                    <div class="card-body"> 
                        ${newProduct.description}
                        <hr>
                        ${newProduct.price}
                    </div>
                    <div class="card-footer"> 
                        <button class="btn btn-danger btn-sm">DELETE</button>
                    </div>
                </div>
            </div>
            
            `;

            products.innerHTML += newProductTemplate;

            const btns = document.querySelectorAll('.btn.btn-danger');
            btns.forEach(btn => {
                btn.addEventListener(('click'), (e) => {
                    e.target.parentElement.parentElement.parentElement.remove();
                })
            });
        });

        ipcRenderer.on('products:remove-all', (e) => {
            products.innerHTML = "";
        });
    </script>


</body>

</html>